/* 背景為圓角長方形 */
.background {
  width: 700px;
  height: 397px;
  background-color: white;
  border: 2px solid #e7e7e7;
  border-radius: 20px;
  position: relative;
}

.main_container {
  width: 409.02px;
  height: 151px;
  border: 1px solid white;
  margin-top: 20px;
  margin-left: 40px;
}

.head_container {
  width: 161.58px;
  height: 76.81px;
  border: 1px solid white;
  position: relative;
}

/* 頭貼為圓型 */
.head {
  width: 75.19px;
  height: 75px;
  border-radius: 50%;
  background-color: #d3d3d3;
}

.text_container {
  width: 74.37px;
  height: 58.81px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
}

.name {
  font-size: 16px;
  font-weight: bold;
  margin: 0; /* 取消默認邊距 */
  align-self: flex-start;
}

.hour {
  font-size: 13px;
  color: #909090;
  margin: 0;
  align-self: flex-start;
}

.post {
  font-size: 16px;
}

.people_container {
  width: 630px;
  height: 50px;
  border: 1px solid white;
  position: absolute;
  top: 212px;
  left: 35px;
  z-index: 1;
}

.line1 {
  width: 630px;
  height: 0px;
  border: 1px solid #bfbfbf;
  margin-top: -1px;
  z-index: 2;
}

.line2 {
  width: 630px;
  height: 0px;
  border: 1px solid #bfbfbf;
  margin-top: 49px;
  z-index: 2;
}

.circle1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f85c53;
  margin-top: 10px;
  margin-left: 5px;
  float: left;
}

.circle2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #d3d3d3;
  margin-top: 10px;
  margin-right: 555px;
  float: right;
}

.likes_container {
  width: 665px;
  height: 35px;
  border: 1px solid white;
  position: absolute;
  top: 272px;
}

.likes {
  font-size: 16px;
  color: #5c5c5c;
  margin-top: 0px;
  margin-left: 35px;
  float: left;
}

.comment_num {
  font-size: 16px;
  color: #5c5c5c;
  float: right;
  margin-top: 0px;
}

.line3 {
  width: 700px;
  height: 0px;
  border: 1px solid #d9d9d9;
  z-index: 1;
  margin-top: 35px;
}

.comment_container {
  width: 620px;
  height: 50px;
  border: 1px solid white;
  position: absolute;
  top: 327px;
  left: 40px;
}

img {
  width: 50px;
  height: 50px;
}

.comment_bar {
  width: 555.47px;
  height: 50px;
  background-color: #f0f0f0;
  border: 1px solid white;
  border-radius: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {
  font-size: 20px;
  color: #777777;
  text-align: center;
}
